name: Tag image

on:
  push:
    branches:
      - main

jobs:
  docker:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Tag and push
        run: |
          export VERSION="$(date '+%Y.%-m.')"${{ github.run_id }}
          
          git config --local user.name "Releaser [bot]"
          git config --local user.email 'bibliobreeze-releaser[bot]@users.noreply.github.com'
          
          git tag -a ${VERSION} -m "Automated release tag"
          git push origin ${VERSION}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        run: |
          export VERSION="$(date '+%Y.%-m.')"${{ github.run_id }}
          
          docker buildx build . \
          --platform linux/amd64 \
          --tag ghcr.io/$GITHUB_REPOSITORY:$VERSION \
          --push
